<section class='post-details'>
  <h2>Details of a post</h2>

  <article class='pos'>
    <h3><%= @post.title %></h3>
    <div class='numbers'>
      <p>Comments: <%= @post.comments_counter.to_i > 0 ? @post.comments_counter : '0' %></p>
      <p>Likes: <%= @post.likes_counters.to_i > 0 ? @post.likes_counters : '0' %></p>
    </div>
    <p><%= @post.text %></p>
  </article>

  <div class='comments'>
    <h4>Comments:</h4>
    <% @post.comments.each do |comment| %>
      <%= render partial: 'comment', locals: { comment: comment } %>
    <% end %>
  </div>
</section>
